In [1]:
import pandas as pd
import numpy as np

In [2]:
traindata = pd.read_csv('train.csv', encoding= 'unicode_escape')

In [3]:
testdata = pd.read_csv('test.csv', encoding= 'unicode_escape')

In [4]:
traindata['category'].value_counts()

 1    14847
-1    10784
 0     6229
Name: category, dtype: int64

In [5]:
import nltk
from nltk.corpus import stopwords

In [6]:
stop = set(stopwords.words('english'))
#remove no, not in stop
stop.remove('no') 
stop.remove('not')
#stop

In [7]:
#Lemmatization 
from nltk.stem import PorterStemmer
def stem(str_):
    ps = PorterStemmer()
    return ps.stem(str_)

#Removing nonword
import string
import re
def remove_nonword(str_):
    return re.sub(r'[^a-z]', ' ', str_) 

#lower
def make_lower(str_):
    return str_.lower()

traindata preprocessing

In [8]:
from nltk import word_tokenize
data = []
for item in traindata['content']:
    word = ''
    item = stem(item)
    item = remove_nonword(item)
    item = make_lower(item)
    item = word_tokenize(item)
    #print(item)
    for i in range(len(item)):
        if item[i] not in stop:
            if len(item[i]) > 3:
                word = word + item[i] + ' '
    data.append(word)
#data

testdata preprocessing

Vectorizer

In [9]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [10]:
vectorizer = TfidfVectorizer(max_features=2500)
X = vectorizer.fit_transform(data)

split data to train data and test data

In [11]:
from sklearn.model_selection import train_test_split
y = traindata['category']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [12]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score

lr = LogisticRegression(C = 0.01)
lr.fit(X_train, y_train)
accuracy = accuracy_score(y_test, lr.predict(X_test))
f1 = f1_score(y_test, lr.predict(X_test), average='macro')

print(accuracy)
print(f1)

0.6922473320778405
0.513571664163048

In [13]:
tdata = []
for item in testdata['content']:
    word = ''
    item = stem(item)
    item = remove_nonword(item)
    item = make_lower(item)
    item = word_tokenize(item)
    #print(item)
    for i in range(len(item)):
        if item[i] not in stop:
            if len(item[i]) > 3:
                word = word + item[i] + ' '
    tdata.append(word)
#data

In [14]:
vectorizer = TfidfVectorizer(max_features=2500)
feature_test = vectorizer.fit_transform(tdata)
feature_test = pd.DataFrame(feature_test.toarray(),columns=vectorizer.get_feature_names())
feature_test

,ability,able,aboard,abreast,absolute,absolutely,abysmal,accept,acceptable,accepted,...,years,yesterday,yoghurt,york,young,younger,zealand,zero,zone,zurich
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
4996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
4997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
4998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.13382,0.0,0.000000,0.178035,0.0,0.0,0.0,0.0,0.0,0.0
4999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00000,0.0,0.154788,0.000000,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
pre = lr.predict(X_test)
pre = pd.DataFrame(pre)
pre

      0
0     1
1     1
2    -1
3     1
4     1
...  ..
6367 -1
6368  1
6369 -1
6370  1
6371 -1

[6372 rows x 1 columns]

In [16]:
pre.to_csv('result.csv', index = False, header = False)